<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="afa0ac">  <td>17/12/14 15:13:14</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;annotations_tests.afterClass()[pri:0, instance:enabled_tests.annotations_tests@6f7fd0e6]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1887813102</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>17/12/14 15:13:14</td>   <td>-6</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;annotations_tests.afterMethod()[pri:0, instance:enabled_tests.annotations_tests@6f7fd0e6]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1887813102</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>17/12/14 15:13:14</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;annotations_tests.afterMethod()[pri:0, instance:enabled_tests.annotations_tests@6f7fd0e6]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1887813102</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>17/12/14 15:13:14</td>   <td>60</td> <td title="&lt;&lt;annotations_tests.afterSuite()[pri:0, instance:enabled_tests.annotations_tests@6f7fd0e6]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1887813102</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>17/12/14 15:13:14</td>   <td>1</td> <td>&nbsp;</td><td title="&lt;&lt;annotations_tests.afterTest()[pri:0, instance:enabled_tests.annotations_tests@6f7fd0e6]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1887813102</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>17/12/14 15:13:14</td>   <td>-28</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;annotations_tests.beforeClass()[pri:0, instance:enabled_tests.annotations_tests@6f7fd0e6]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1887813102</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>17/12/14 15:13:14</td>   <td>-15</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;annotations_tests.beforeMethod()[pri:0, instance:enabled_tests.annotations_tests@6f7fd0e6]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1887813102</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>17/12/14 15:13:14</td>   <td>-3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;annotations_tests.beforeMethod()[pri:0, instance:enabled_tests.annotations_tests@6f7fd0e6]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1887813102</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>17/12/14 15:13:14</td>   <td>-42</td> <td title="&gt;&gt;annotations_tests.beforeSuite()[pri:0, instance:enabled_tests.annotations_tests@6f7fd0e6]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1887813102</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>17/12/14 15:13:14</td>   <td>-33</td> <td>&nbsp;</td><td title="&gt;&gt;annotations_tests.beforeTest()[pri:0, instance:enabled_tests.annotations_tests@6f7fd0e6]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1887813102</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>17/12/14 15:13:14</td>   <td>-3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="annotations_tests.testCase1()[pri:2, instance:enabled_tests.annotations_tests@6f7fd0e6]">testCase1</td> 
  <td>main@1887813102</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>17/12/14 15:13:14</td>   <td>-15</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="annotations_tests.testCase2()[pri:1, instance:enabled_tests.annotations_tests@6f7fd0e6]">testCase2</td> 
  <td>main@1887813102</td>   <td></td> </tr>
</table>
