<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite1-testNG</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7d6578">  <td>17/06/25 10:36:04</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;annotations_tests.afterClass()[pri:0, instance:enabled_tests.annotations_tests@3ffc5af1]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@837764579</td>   <td></td> </tr>
<tr bgcolor="7d6578">  <td>17/06/25 10:36:04</td>   <td>-14</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;annotations_tests.afterMethod()[pri:0, instance:enabled_tests.annotations_tests@3ffc5af1]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@837764579</td>   <td></td> </tr>
<tr bgcolor="7d6578">  <td>17/06/25 10:36:04</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;annotations_tests.afterMethod()[pri:0, instance:enabled_tests.annotations_tests@3ffc5af1]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@837764579</td>   <td></td> </tr>
<tr bgcolor="7d6578">  <td>17/06/25 10:36:14</td>   <td>10787</td> <td title="&lt;&lt;annotations_tests.afterSuite()[pri:0, instance:enabled_tests.annotations_tests@3ffc5af1]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@837764579</td>   <td></td> </tr>
<tr bgcolor="7d6578">  <td>17/06/25 10:36:09</td>   <td>5147</td> <td>&nbsp;</td><td title="&lt;&lt;annotations_tests.afterTest()[pri:0, instance:enabled_tests.annotations_tests@3ffc5af1]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@837764579</td>   <td></td> </tr>
<tr bgcolor="7d6578">  <td>17/06/25 10:36:04</td>   <td>-34</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;annotations_tests.beforeClass()[pri:0, instance:enabled_tests.annotations_tests@3ffc5af1]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@837764579</td>   <td></td> </tr>
<tr bgcolor="7d6578">  <td>17/06/25 10:36:04</td>   <td>-24</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;annotations_tests.beforeMethod()[pri:0, instance:enabled_tests.annotations_tests@3ffc5af1]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@837764579</td>   <td></td> </tr>
<tr bgcolor="7d6578">  <td>17/06/25 10:36:04</td>   <td>-9</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;annotations_tests.beforeMethod()[pri:0, instance:enabled_tests.annotations_tests@3ffc5af1]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@837764579</td>   <td></td> </tr>
<tr bgcolor="7d6578">  <td>17/06/25 10:35:54</td>   <td>-9700</td> <td title="&gt;&gt;annotations_tests.beforeSuite()[pri:0, instance:enabled_tests.annotations_tests@3ffc5af1]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@837764579</td>   <td></td> </tr>
<tr bgcolor="7d6578">  <td>17/06/25 10:35:54</td>   <td>-9691</td> <td>&nbsp;</td><td title="&gt;&gt;annotations_tests.beforeTest()[pri:0, instance:enabled_tests.annotations_tests@3ffc5af1]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@837764579</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>17/06/25 10:36:09</td>   <td>5147</td> <td>&nbsp;</td><td title="&lt;&lt;dependency_tests.closeBrowser()[pri:0, instance:enabled_tests.dependency_tests@26653222]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@837764579</td>   <td></td> </tr>
<tr bgcolor="a48474">  <td>17/06/25 10:36:12</td>   <td>7999</td> <td>&nbsp;</td><td title="&lt;&lt;enabled_tests.closeBrowser()[pri:0, instance:enabled_tests.enabled_tests@5e5792a0]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@837764579</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>17/06/25 10:35:54</td>   <td>-9691</td> <td>&nbsp;</td><td title="&gt;&gt;dependency_tests.launchBrowser()[pri:0, instance:enabled_tests.dependency_tests@26653222]">&gt;&gt;launchBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@837764579</td>   <td></td> </tr>
<tr bgcolor="a48474">  <td>17/06/25 10:35:56</td>   <td>-7137</td> <td>&nbsp;</td><td title="&gt;&gt;enabled_tests.launchBrowser()[pri:0, instance:enabled_tests.enabled_tests@5e5792a0]">&gt;&gt;launchBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@837764579</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>17/06/25 10:36:04</td>   <td>3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="dependency_tests.loadURL()[pri:0, instance:enabled_tests.dependency_tests@26653222]">loadURL</td> 
  <td>main@837764579</td>   <td></td> </tr>
<tr bgcolor="7d6578">  <td>17/06/25 10:36:04</td>   <td>-24</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="annotations_tests.testCase1()[pri:0, instance:enabled_tests.annotations_tests@3ffc5af1]">testCase1</td> 
  <td>main@837764579</td>   <td></td> </tr>
<tr bgcolor="7d6578">  <td>17/06/25 10:36:04</td>   <td>-9</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="annotations_tests.testCase2()[pri:0, instance:enabled_tests.annotations_tests@3ffc5af1]">testCase2</td> 
  <td>main@837764579</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>17/06/25 10:36:09</td>   <td>5106</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="dependency_tests.verifyHomepageTitle()[pri:0, instance:enabled_tests.dependency_tests@26653222]">verifyHomepageTitle</td> 
  <td>main@837764579</td>   <td></td> </tr>
<tr bgcolor="a48474">  <td>17/06/25 10:36:09</td>   <td>5119</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="enabled_tests.verifyHomepageTitle()[pri:2, instance:enabled_tests.enabled_tests@5e5792a0]">verifyHomepageTitle</td> 
  <td>main@837764579</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>17/06/25 10:36:09</td>   <td>5076</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="dependency_tests.verifyURL()[pri:0, instance:enabled_tests.dependency_tests@26653222]">verifyURL</td> 
  <td>main@837764579</td>   <td></td> </tr>
<tr bgcolor="a48474">  <td>17/06/25 10:36:09</td>   <td>5133</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="enabled_tests.verifyURL()[pri:2, instance:enabled_tests.enabled_tests@5e5792a0]">verifyURL</td> 
  <td>main@837764579</td>   <td></td> </tr>
</table>
